@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.navbar-brand img {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  @media (max-width: 400px) {
    width: 160px;
  }
}

.navbar-nav {
  font-family: 'geomanistmedium';

  li {
    position: relative;
  }

  li.active a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    bottom: 40px;
    right: 1rem;
    border-bottom: 3px solid $green;
  }

  a {
    color: $gray;
    text-transform: uppercase;
    transition: color 0.3s ease-out, background 3s ease-in;
    font-size: 0.9rem;
    padding-top: 3em;
    padding-bottom: 3em;

    &:hover {
      color: $green;
    }
  }
}

.btn-donate {
  color:$white !important;
  background-color: $red;
  border-color: $red;
}

#navbarToggler.show {
  background: $gray;
  color: $white;
  margin: 1em -1em 0;

  .navbar-nav a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #fff;
  }

  .navbar-nav li.active a::after {
    border-bottom: none;
  }

  .navbar-collapse {
    background: #5b6a6c;
    color: #fff;
    margin: 1em -1em 0;
  }

  .active .nav-link {
    color: #64d29b;
  }

  .btn-donate {
    margin: 0 auto;
  }
}
